* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
}

h1 {
  text-align: center;
  color: deepskyblue;
  margin: 0.7em auto;
}

body {
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
}

.container {
  width: 98%;
  padding-right: 0.8em;
  padding-left: 0.8em;
}

ul {
  list-style-type: none;
  margin: 0;
  background-color: navy;
  display: flex;
  justify-content: space-evenly;
}

li {
  display: inline-block;
}

a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 100px;
  background-color: navy;
  text-decoration: none;
}

li a:hover {
  background-color: tomato;
}

table {
  border-collapse: collapse;
  width: 99%;
  margin: 0 auto;
  justify-content: center;
}

table td {
  border: 1px solid grey;
  padding: 5px;
}

table thead td {
  background-color: gold;
  font-weight: bold;
}

.readonly {
  background-color: silver;
}

form {
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  border: 1px solid lightgray;
  background-color: white;
}

label {
  display: inline-block;
  width: 200px;
  font-weight: bold;
  margin-bottom: 10px;
}

#search {
  display: flex;
  justify-content: center;
  height: 2.5em;
  border: none;
  background-color: whitesmoke;
}

#search input[type="text"] {
  border-right: none;
  border-radius: 40px 0 0 40px; /*top left, top right, bot right, bot left*/
  height: 2.26em;
  width: 50%;
  font-size: 18px;
  padding: 0 15px;
}

.searchbtn {
  height: 2.5em;
  padding: 0 20px;
  font-size: 16px;
  border-radius: 0 40px 40px 0; /*top left, top right, bot right, bot left*/
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="text"],
input[type="number"],
input[type="date"],
select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid lightgray;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: deepskyblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: blue;
}

.button {
  display: inline-block;
  padding: 10px 14px;
  background-color: steelblue;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: blue;
}

.delete {
  background-color: crimson;
}

.delete:hover {
  background-color: red;
}

.maintnc {
  background-color: green;
  display: flex;
  margin-top: 1.5em;
  margin-left: 0.5em;
  float: left;
}

.maintnc:hover {
  background-color: lime;
}

@media (max-width: 768px) {
  * {
    padding: 0;
    margin: 10px 0;
  }

  html {
    width: 125%;
  }

  .container {
    width: 100%;
    padding: 0;
  }

  form {
    width: 80%;
  }

  label {
    width: 100%;
  }

  ul {
    width: 108%;
    align-items: center;
    padding: 0;
  }

  li {
    display: block;
    margin: 10px 0;
    width: 100%;
  }

  li a {
    background-color: tomato;
    padding: 14px 0;
    border: none;
    border-radius: 25px;
  }

  #search input[type="text"] {
    width: 100%;
    font-size: 12px;
    padding: 0 7px;
    height: 30px;
  }

  #search {
    display: flex;
    float: right;
    width: 60%;
    height: 30px;
    padding: 0;
    padding-top: 8px;
    margin-bottom: 20px;
  }

  .searchbtn {
    padding: 0 10px;
    height: 30px;
  }

  .table {
    margin: 0 5px;
  }

  table td {
    padding: 2px;
    font-size: 12px;
  }

  .button {
    margin: 0;
  }

  .maintnc {
    display: flex;
    margin-top: 10px;
    float: left;
    margin-left: 10px;
  }
}
